* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

h1 {
  text-align: center;
  margin: 2rem 0;
}

#books {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.book {
  display: flex;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.book:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.book-image {
  width: 120px;
}

.book-image img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
